<div id=menu_line>
	<div id='css-menu'>
		<ul>
			<li id='menu_1'><a class='data-pjax-link' href='/'>
				Главная
			</a></li>
			<li id='menu_2' class='css-menu-central'><a class='data-pjax-link' href='coop_search.php'>
				Поиск кооператива
			</a</li>
			<li id='menu_3' class='css-menu-central'><a class='data-pjax-link' href='/users'>
				Аккаунт
			</a></li>
			<li id='menu_4' class='css-menu-central'><a class='data-pjax-link' href='/about_us'>
				Наша система
			</a></li>
		</ul>
	</div>
</div>
